<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>About Us</h2>
            <p>Welcome to Cms Hospital, where we are dedicated to providing compassionate and cutting-edge healthcare services to our community. With a legacy spanning +20 years, we have been at the forefront of medical excellence, striving to meet the evolving needs of our patients with integrity, innovation, and unwavering commitment. Our team of highly skilled physicians, nurses, and staff members work tirelessly to ensure that every patient receives personalized care tailored to their unique needs. At Cms Hospital, we prioritize patient safety and comfort, utilizing state-of-the-art technology and evidence-based practices to deliver superior medical care across a wide range of specialties. Whether you're visiting us for routine check-ups, emergency care, or specialized treatments, we are here to provide you with the highest quality healthcare in a welcoming and compassionate environment. Thank you for entrusting us with your health and well-being.</p>
        </div>
    </div>
</div>