<div id="layoutSidenav_nav">
	<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Dashboard</div>
				<a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
					Dashboard
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-regular fa-star"></i></div>
					Admin
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Appointment" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-solid fa-calendar-check"></i></div>
					Appointment
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Article" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
					Article
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-th-list"></i></div>
					Category
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Comment" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-comments"></i></div>
					Comment
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Doctor" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-solid fa-stethoscope"></i></div>
					Doctor
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Hospital" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-solid fa-hospital"></i></div>
					Hospital
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-users"></i></div> 
					User
				</a>
				<a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">
					<div class="sb-nav-link-icon"><i class="fas fa-user-shield"></i></div>
					Role
				</a>
			</div>
		</div>
		<div class="sb-sidenav-footer">
			<div class="small">Logged in as:</div>
			Admin
		</div>
	</nav>
</div>