@model Cms.Entities.Concrete.Dtos.HospitalDtos.HospitalAddDto

@{
  Layout = "_AdminLayout";
  ViewBag.Title = "Hospital Create";
}

<div class="row">
  <div class="col-xxl-6">
    <div class="card card-xxl-stretch">
      <div class="card-header">
        <h3>Create Hospital</h3>
      </div>
        <form asp-area="admin" asp-controller="hospital" asp-action="Create" id="form-hospital-create">
          <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="CityId" class="form-label"></label>
          <input asp-for="CityId" class="form-control" />
          <span asp-validation-for="CityId" class="text-danger"></span>
          </div>
          <div class="mb-6 form-check">
            <input asp-for="IsActive" class="form-check-input" />
            <label asp-for="IsActive" class="form-check-label">@Html.DisplayNameFor(model => model.IsActive)</label>
          </div>
          <br />
          <a class="btn btn-secondary" asp-area="Admin" asp-controller="Hospital" asp-action="Index"><span class="fas fa-times"></span>   Return</a>
          <button type="submit" class="btn btn-success" id="btnSave"><span class="fas fa-save"></span>   Save</button>
        </form>
      </div>
    </div>
  </div>
</div>



